[Unit]
Description=Docker relocation
Before=docker.service

[Service]
ExecStart=/usr/local/bin/mount-docker.sh
Type=oneshot

[Install]
RequiredBy=docker.service
