
:root {
  --background: hsl(0, 0%, 12%);
  --text: hsl(0, 0%, 80%);
  --clear: hsl(0, 0%, 65%);
  --disabled: hsl(0, 0%, 35%);
  --purple: #bb73e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  letter-spacing: 1.5px;
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 100vh;
  color: var(--text);
  padding: 10vh 36.5vw;
}

div {
  text-align: center;
  font-size: 10px;
  width: 9vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.44vh;
  background: linear-gradient(-25deg, var(--clear) 30%, var(--disabled) 90%);
}

#tools {
  position: fixed;
  right: 100px;
  font-size: 80px;
  cursor: pointer;
  user-select: none;
}

[data-repaired='true'] {
  color: hsl(275, 100%, 50%);
}

[data-repaired='true']:after {
  content: '-repaired';
}

[data-repaired='in progress'] {
  color: black;
}

[data-repaired='in progress']:after {
  content: '-in progress';
}
